.containerStyles  {
    height: 20px;
    width: auto;
    background-color: white;
    border-radius: 50px;
    margin-left: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
  }

  .labelStyles {
    padding: 5px;
    color: white;
    font-weight: bold;
    font-family: Arial, sans-serif;
  }
